*.o
*.o.d
*.class
libs/Darwin-i386/*.dSYM
.DS_Store
bin
.project
.classpath
Xcode/build
Xcode/ZenGarden.xcodeproj
src/main.cpp
src/sndfile.h
.*.swp
*.pyc
Mersenne-1.1.zip
demo/
libs/
ZenGarden.jar
src/main.cpp